/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    
    /*Hero pattern*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.15'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #fff;

    font-family: 'Oswald', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav__brand {
    width: 50px;
}

.nav__menu {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.nav__menu li a {
    padding: 2px;
}

.nav__menu li a:hover {
    border-bottom: 2px solid whitesmoke;
}

.nav__menu li {
    padding: 10px;
}

hr {
    margin: 10px 0;
}

/* Showcase */
.showcase {
    width: 100%;
    height: 800px;
    background: url('./img/showcase2.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}

.btn:hover {
    opacity: 0.75;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* News Card */
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.card img {
    width: 95%;
    height: 200px;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.card a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

/* Banner 1 */
.banner {
    width: 100%;
    height: 300px;
    
    margin: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.banner__1 {
    background: url('./img/tech-red.jpg');
}

.banner__2 {
    background: url('./img/image-four.jpg');
}

.banner h2,
.banner p {
    margin-bottom: 10px;
}

.banner p {
    width: 40%;
}

/* Social */
.social h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}